* {
  font-family: var(--poppins);
}

.sharePage {
  padding: 0 138px;
}

.logoContainer {
  padding: 75px 0 50px 0;
}

.backButton {
  cursor: pointer;
  color: var(--black);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.backArrow {
  font-size: 40px;
  margin-right: 20px;
}

/* Cards */
/* Cards */
/* Cards */
/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33%;
}

.card .title {
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
}

.cardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.cardContainer > img {
  z-index: -11;
  width: 95%;
  object-fit: contain;
}

.fieldContainer {
  position: absolute;
  top: 50% - 60%;
  left: 0;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.field {
  width: 95%;
  background-color: #fff;
  border: 1px solid #edc5c5;
  border-radius: 20px;
}

.nameAddress {
  font-size: 25px;
  font-weight: 400;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createNewCard {
  margin-top: 25px;
  padding: 15px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #edc5c5;
  text-decoration: none;
}

.createNewCard .circlePlus {
  font-size: 50px;
}

.smallText {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  width: 60%;
}

.qrCode {
  width: 40%;
}

.upgradeBtn {
  padding: 10px 30px;
  background: var(--orange);
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
}

/* Small Cards */
/* Small Cards */
/* Small Cards */
/* Small Cards */

.smallCards {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallCardContainer {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  border: 2px solid #ccd0f9;
  border-radius: 20px;
}

.smallCard {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.smallCard img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.smallCard.active {
  background: #ccd0f9;
}
